@charset "utf-8";
/* CSS Document */
body{
	/*background: linear-gradient(#E7E7E7 50%, #999);*/
	background-color: #B7B7B7;
	background-image:url(IMG/logo1.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	font-family: 'Lato', sans-serif;
	margin: 0;
	font-size: 14px;
	color: #444;
}

#wrapper {
	bacground-color: #FFFFFF;
	width: 960px;
	margin: 0 auto;
}

/*HEADER STYLES
==================================*/

header {
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
	font-size: 2em;
	/*background-color: #003B64;*/
	background-color: #17124F;
	width: 100%;
	height: 150px;
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding: 1em 0;
}
header p{
	position:relative;
	left: 50px;
	top:-10px;
}

/*H1,H2...
================================*/
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Slab', serif;
	color: #000;
}

h1 {
	font-size: 3em; 
	line-height: 1em;
}

h2 {
	font-size: 1.875em; 
	line-height: 1em;
}

h3 {
	font-size: 1.625em; 
	line-height: 1em;
}

h4 {
	font-size: 1.5em; 
	line-height: 1em;
}
/* NAV STYLES
=============================== */

nav {
	background-color: #44454a;
	text-align: left;
	margin-top: 0;
	padding: 0.05em 0em;
	margin-bottom: 1em;
	text-transform: uppercase;
	width: 960px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
}

nav li {
	display: inline;
	margin-right: 5em;
}

nav a:link {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:visited {
	color: #fff;
}

nav a:focus {
	color: #000;
}

nav a:hover {
	color: #000;
}

nav a:active {
	color: #fff;
}
/* MAIN STYLES
=============================== */
main {
	background-color: #fff;
	opacity: 0.9;
	padding: 1em 2em;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}
/*footer
=============================*/
footer {
	background-color: #44454a;
	color: #cfcfcf;
	padding: 0.5em 5em;
	margin-top: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
}
.nav_plain {
	width: 850px;
}